1) Based on the code from the chapter Memory
management using Makefiles, we want to compile
the theme by programming using the Makefile file.
Run the make command. Run the make command
again. Has any order been executed?
Change the value of the MIN_VAL macro to the
utils.h file. Run the make command again. Why
does not the executable file update?
Change the Makefile file to get the object files (with
the .o extension) also to keep in mind the header
files (with the .h extension) t h a t they depend on. (2
points)

- RSA is another method for encrypting and decrypting the message. It
involves public key and private key, where the public key is known to all
and is used to encrypt the message whereas private key is only used to
decrypt the encrypted message. (3 points)
- It has mainly 3 steps:
1: Creating Keys
- Select two large prime numbers x and y
- Compute n = x * y, where n is the modulus of private and the public key
- Calculate totient function, ø (n) = (x − 1)(y − 1)
- Choose a n integer e such t h a t e is coprime to ø(n) and 1 < e < ø(n). e is
the public key exponent used for encryption
- Now choose d, so t h a t d · e mod ø (n) = 1, i.e., >code>d is the
multiplicative inverse of e in mod ø (n)

2: Encrypting Message
- Messages are encrypted using the Public key
generated and is known to all.
- The public key is the function of both e and n
i.e. {e,n}.
- If M is the message(plain text), then ciphertext
- C = M ^ n( mod n )

3: Decrypting Message
- The private key is the function of both d and n i.e
{d,n}.
- If C is the encrypted ciphertext, then the plain
decrypted text M is
- M = C ^ d ( mod n )